<html ng-app='MainApp' ng-controller='studentController'>
    <head>
        <Title>Programming Activity #3</Title>
        <script src='angular.min.js'></script>
    </head>

    <body>
        <script>
            const app = angular.module("MainApp",[]);
            app.controller('studentController',studentController)
            function studentController($scope)
            { 
                $scope.student = {
                    fName: "Dino Benedict",
                    mName: "Infante",
                    lName: "Villarin",
                    strand: "STEM",
                    gradeLevel: "12",
                    school: "Perpetual Help System DALTA",
                    math: 75,
                    science: 75,
                    english: 75,
                    filipino: 75,
                    tle: 75,

                    fullName: function()
                    { 
                        const obj = $scope.student;
                        return obj.fName + " " + obj.mName + " " + obj.lName;
                    },

                    schoolStatus: function()
                    {
                        const obj = $scope.student;
                        return obj.strand + " " + obj.gradeLevel + " " + obj.school; 
                    }, 

                    gradeStatus: function()
                    {
                        var obj = $scope.student;
                        totalAverage = (obj.math + obj.science + obj.english + obj.filipino + obj.tle) / 5;

                        if(totalAverage >= 75)
                        {
                            return  'Average: ' + totalAverage + ', Passed'
                        }
                        else
                        {
                            return 'Average: ' + totalAverage + ', Failed' 
                        }
                    } 
                };
            }
        </script>

        <h1>Input Data:</h1>
        <br>
        <table>
            <th>Student's Name
                <tr>
                    <td>First Name:
                    <td><input type="text" ng-model="student.fName">
                </tr>
                <tr>
                    <td>Middle Name:
                    <td><input type="text" ng-model="student.mName">
                </tr>
                <tr>
                    <td>Last Name:
                    <td><input type="text" ng-model="student.lName">
                </tr>
            <th>Student's School
                <tr>
                    <td>Strand:
                    <td><input type="text" ng-model="student.strand">
                </tr>
                <tr>
                    <td>Grade Level:
                    <td><input type="text" ng-model="student.gradeLevel">
                </tr>
                <tr>
                    <td>Name of School:
                    <td><input type="text" ng-model="student.school">
                </tr>
            <th>Student's Grade
                <tr>
                    <td>Math:
                    <td><input type="number" ng-model="student.math">
                </tr>
                <tr>
                    <td>Science:
                    <td><input type="number" ng-model="student.science">
                </tr>
                <tr>
                    <td>English:
                    <td><input type="number" ng-model="student.english">
                </tr>
                <tr>
                    <td>Filipino:
                    <td><input type="number" ng-model="student.filipino">
                </tr>
                <tr>
                    <td>TLE:
                    <td><input type="number" ng-model="student.tle">
                </tr>
        </table>
        <br><br>

        <h1>Output Data:</h1>
        <br>
        <table>
            <th>Student Details:
            <tr>
                <td>Your full name is:
                <td>{{student.fullName()}}
            </tr>
            <tr>
                <td>Your strand, grade level and school is:
                <td>{{student.schoolStatus()}}
            </tr>
            <th>Student's Grades:
            <tr>
                <td>The status of your grades are:
                <td>{{student.gradeStatus()}}
            </tr>
        </table>
    </body>
</html>